/JavaApplication2/nbproject/private/
/02-JavaApplication2/build/
/03-JavaApplication3/nbproject/private/
/03-JavaApplication3/build/
/03-JavaApplication3/dist/
/04-JavaApplication4/nbproject/private/
/04-JavaApplication4/build/
/04-JavaApplication5/nbproject/private/
/04-JavaApplication5/build/
/7-Estructuras condicionales simples y compuestas/Problema1/nbproject/private/
/7-Estructuras condicionales simples y compuestas/Problema1/build/
/7-Estructuras condicionales simples y compuestas/Problema2/nbproject/private/
/7-Estructuras condicionales simples y compuestas/Problema2/build/
/7-Estructuras condicionales simples y compuestas/problema3/nbproject/private/
/7-Estructuras condicionales simples y compuestas/problema3/build/
/7-Estructuras condicionales simples y compuestas/Problema4/nbproject/private/
/7-Estructuras condicionales simples y compuestas/Problema4/build/
/7-Estructuras condicionales simples y compuestas/Problema5/nbproject/private/
/7-Estructuras condicionales simples y compuestas/Problema5/build/